body {
  background: #2E3740;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.heading {
  margin-top: 100px;
}

.err_msg {
  color: cyan;
  margin-top: 30px;
  font-size: 13px;
}

a {
  color: #435160;
  text-decoration: none;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}
input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-top: 25px;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
}

.register {
  margin-top: 30px;
  display: block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.register:hover {
  margin-top: 30px;
  display: block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.profile {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
  text-decoration: underline;
  position: absolute;
  margin-top: 25px;
  top: 5%;
  left: 80%;
  margin-right: 20px;
}
.profile:hover {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #435160;
}


input[type="submit"].log_out{
  background-color: black;
  color: white;
  border: 2px solid #555555;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  font-size: 11px;
  position: absolute;
  top: 5%;
  left: 87%;
}

input[type="submit"].log_out:hover {
    background-color: #6D7781;
    color: black;
}

.file-input-wrapper {
    height: 30px;
    margin: 2px;
    overflow: hidden;
    position: relative;
    width: 118px;
    background-color: #fff;
    cursor: pointer;
}

.file-input-wrapper > input[type="file"] {
    font-size: 40px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.file-input-wrapper > .btn-file-input {
    background-color: #494949;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    height: 34px;
    margin: 0 0 0 -1px;
    padding-left: 0;
    width: 121px;
    cursor: pointer;
}

.file-input-wrapper:hover > .btn-file-input 
{
    background-color: #494949;
}

.dropZoneOverlay, .FileUpload {
    width: 283px;
    height: 71px;
}

.dropZoneOverlay {
    border: dotted 1px;
    font-family: cursive;
    color: #7066fb;
    position: absolute;
    top: 0px;
    text-align: center;
}

.FileUpload {
    opacity: 0;
    position: relative;
    z-index: 1;
}
