body {
  background: #2E3740;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-size: 15px;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.err_msg {
  color: cyan;
  margin-top: 10px;
  font-size: 13px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -195px;
}

a {
  color: #435160;
  text-decoration: none;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
}

input[type="text"], input[type="password"] {
  width: 350px;
  padding: 20px 0px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}
input[type=checkbox] {
  display: none;
}

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

input[type="submit"] {
  background: #1FCE6D;
  border: 0;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  margin-top: 25px;
  transition: background 0.3s ease-in-out;
}
input[type="submit"]:hover {
  background: #16aa56;
}

.register {
  margin-top: 30px;
  display: block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}
.register:hover {
  margin-top: 30px;
  display: block;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

.profile {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
  text-decoration: underline;
  position: absolute;
  margin-top: 25px;
  top: 5%;
  left: 80%;
}
.profile:hover {
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  color: #435160;
}


input[type="submit"].log_out{
  background-color: black;
  color: white;
  border: 2px solid #555555;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  font-size: 11px;
  position: absolute;
  top: 5%;
  left: 85%;
}

input[type="submit"].log_out:hover {
    background-color: #6D7781;
    color: black;
}
